In [17]:
import numpy as np
import pandas as pd

In [18]:
df=pd.read_csv('data.csv', usecols=['accX', 'accY', 'accZ', 'accResultant', 'gyrX', 'gyrY', 'gyrZ', 'isFall'])

In [19]:
df.shape

(11140, 8)

In [20]:
df.head()

   accX  accY  accZ  accResultant  gyrX  gyrY  gyrZ  isFall
0  0.02 -0.87  2.06          2.24 -5.92  1.57 -0.04     0.0
1  0.03 -0.87  2.08          2.26 -7.55  1.35  0.54     0.0
2  0.03 -0.87  2.05          2.23 -8.21  1.27  0.70     0.0
3  0.03 -0.87  2.08          2.25 -6.60  1.75  0.08     0.0
4  0.03 -0.87  2.06          2.23 -4.52  1.10  0.33     0.0

In [21]:
arr = df.to_numpy()

In [22]:
window_size = 10;

In [49]:
new_arr = np.empty([0, window_size * 7 + 1])

i = 0

while (i < len(arr)):
    window = arr[i:i+window_size]
    
    if len(window) != window_size:
        break
    
    result = np.mean(window[:, 7])
    if result > 0.7:
        i += 1
        label = 1
    else:
        i += window_size
        label = 0

    entry = window[:, :7].reshape(1, -1)
    entry = np.append(entry, label).reshape(1, -1)
    new_arr = np.append(new_arr, entry, axis=0)

In [50]:
new_arr.shape

(1811, 71)

In [51]:
df.columns

Index(['accX', 'accY', 'accZ', 'accResultant', 'gyrX', 'gyrY', 'gyrZ',
       'isFall'],
      dtype='object')

In [52]:
headers = []

for i in range(1, window_size + 1):
    for column in df.columns:
        if column == 'isFall':
            continue
        headers.append(column + '_' + str(i))
headers.append('isFall')

In [53]:
new_df = pd.DataFrame(new_arr, columns = headers)

In [54]:
new_df.shape

(1811, 71)

In [55]:
new_df.head()

,accX_1,accY_1,accZ_1,accResultant_1,gyrX_1,gyrY_1,gyrZ_1,accX_2,accY_2,accZ_2,...,gyrY_9,gyrZ_9,accX_10,accY_10,accZ_10,accResultant_10,gyrX_10,gyrY_10,gyrZ_10,isFall
0,0.02,-0.87,2.06,2.24,-5.92,1.57,-0.04,0.03,-0.87,2.08,...,0.88,0.25,0.03,-0.87,2.02,2.20,0.26,1.16,0.18,0.0
1,0.03,-0.87,2.13,2.31,-1.47,0.95,-0.94,0.03,-0.87,2.07,...,0.95,1.46,0.04,-0.86,2.06,2.24,-4.30,2.23,0.65,0.0
2,0.03,-0.88,2.09,2.27,-6.20,4.59,2.05,0.04,-0.87,2.07,...,10.86,22.49,-0.03,0.08,0.99,0.99,-7.09,1.27,0.25,1.0
3,0.04,-0.87,2.07,2.25,-10.70,1.66,0.73,0.04,-0.87,2.04,...,1.27,0.25,-0.03,0.07,1.00,1.00,-6.25,1.29,0.20,1.0
4,0.04,-0.87,2.04,2.22,-9.71,1.54,0.70,0.03,-0.87,2.04,...,1.29,0.20,-0.03,0.07,1.00,1.00,-6.25,1.31,0.28,1.0

In [56]:
new_df.to_csv('out.csv')